.header-phone {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    background: no-repeat left center transparent;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1562 22H5.84375C4.77757 22 3.91016 21.1326 3.91016 20.0664V1.93359C3.91016 0.86741 4.77757 0 5.84375 0H16.1562C17.2224 0 18.0898 0.86741 18.0898 1.93359V20.0664C18.0898 21.1326 17.2224 22 16.1562 22ZM5.84375 1.28906C5.48836 1.28906 5.19922 1.5782 5.19922 1.93359V20.0664C5.19922 20.4218 5.48836 20.7109 5.84375 20.7109H16.1562C16.5116 20.7109 16.8008 20.4218 16.8008 20.0664V1.93359C16.8008 1.5782 16.5116 1.28906 16.1562 1.28906H5.84375Z' fill='%23DA112B'/%3E%3Cpath d='M12.2891 3.86719H9.71094C9.35498 3.86719 9.06641 3.57861 9.06641 3.22266C9.06641 2.8667 9.35498 2.57812 9.71094 2.57812H12.2891C12.645 2.57812 12.9336 2.8667 12.9336 3.22266C12.9336 3.57861 12.645 3.86719 12.2891 3.86719Z' fill='%23DA112B'/%3E%3Cpath d='M11 19.4219C11.356 19.4219 11.6445 19.1333 11.6445 18.7773C11.6445 18.4214 11.356 18.1328 11 18.1328C10.644 18.1328 10.3555 18.4214 10.3555 18.7773C10.3555 19.1333 10.644 19.4219 11 19.4219Z' fill='%23DA112B'/%3E%3C/svg%3E%0A");
    background-size: 22px 22px;
    &__line:first-child {
        padding-bottom: 5px;
    }
    &__text {
        font-weight: bold;
        font-size: 18px;
        color: #272D3B;
        font-family: inherit;
    }
    &__text_light {
        color: #C2C7D3;
    }
}