<div class="cart-step-action">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="cart-step-action__item text-left text-sm-center">
          <div class="cart-prev-button">
            <a href="#" class="btn btn--white">
              @@prev
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="cart-step-action__item text-right text-sm-center">
          <div class="cart-next-button">
            <a href="#" class="btn btn--red">
              @@next
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
