<div class="cart-table">
  <table class="cart-table__table">
    <thead>
      <tr>
        <th>
          Наименование товара
        </th>
        <th>
          Цена
        </th>
        <th>
          Количество
        </th>
        <th>
          Сумма
        </th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="cart-product">
            <div class="cart-product__image">
              <div class="cart-product__image_wrapper">
                <img
                  src="/img/image.jpg"
                  class="cart-product__image_img"
                  alt=""
                />
              </div>
            </div>
            <div class="cart-product__info">
              <div class="cart-product__info_name">
                <a
                  href="#"
                  class="cart-product__info_name_link"
                  target="_blank"
                >
                  Бытовая швейная машина Innov-Is F460 Brother
                </a>
              </div>
              <div class="cart-product__info_articul">
                <span class="cart-product__info_articul_text">
                  Артикул: Innov-Is 460
                </span>
              </div>
            </div>
          </div>
        </td>
        <td>
          56 600 руб.
        </td>
        <td>
          <div class="app-spinner app-spinner--cart">
            <button
              class="app-spinner__button app-spinner__button--minus"
            ></button>
            <input class="app-spinner__input" value="10" />
            <button
              class="app-spinner__button app-spinner__button--plus"
            ></button>
          </div>
        </td>
        <td>
          566 000 руб.
        </td>
        <td>
          <div class="cart-delete">
            <button class="cart-delete__button" type="button"></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="cart-product">
            <div class="cart-product__image">
              <div class="cart-product__image_wrapper">
                <img
                  src="/img/image.jpg"
                  class="cart-product__image_img"
                  alt=""
                />
              </div>
            </div>
            <div class="cart-product__info">
              <div class="cart-product__info_name">
                <a
                  href="#"
                  class="cart-product__info_name_link"
                  target="_blank"
                >
                  Бытовая швейная машина Innov-Is F460 Brother
                </a>
              </div>
              <div class="cart-product__info_articul">
                <span class="cart-product__info_articul_text">
                  Артикул: Innov-Is 460
                </span>
              </div>
            </div>
          </div>
        </td>
        <td>
          56 600 руб.
        </td>
        <td>
          <div class="app-spinner app-spinner--cart">
            <button
              class="app-spinner__button app-spinner__button--minus"
            ></button>
            <input class="app-spinner__input" value="10" />
            <button
              class="app-spinner__button app-spinner__button--plus"
            ></button>
          </div>
        </td>
        <td>
          566 000 руб.
        </td>
        <td>
          <div class="cart-delete">
            <button class="cart-delete__button" type="button"></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="cart-product">
            <div class="cart-product__image">
              <div class="cart-product__image_wrapper">
                <img
                  src="/img/image.jpg"
                  class="cart-product__image_img"
                  alt=""
                />
              </div>
            </div>
            <div class="cart-product__info">
              <div class="cart-product__info_name">
                <a
                  href="#"
                  class="cart-product__info_name_link"
                  target="_blank"
                >
                  Бытовая швейная машина Innov-Is F460 Brother
                </a>
              </div>
              <div class="cart-product__info_articul">
                <span class="cart-product__info_articul_text">
                  Артикул: Innov-Is 460
                </span>
              </div>
            </div>
          </div>
        </td>
        <td>
          56 600 руб.
        </td>
        <td>
          <div class="app-spinner app-spinner--cart">
            <button
              class="app-spinner__button app-spinner__button--minus"
            ></button>
            <input class="app-spinner__input" value="10" />
            <button
              class="app-spinner__button app-spinner__button--plus"
            ></button>
          </div>
        </td>
        <td>
          566 000 руб.
        </td>
        <td>
          <div class="cart-delete">
            <button class="cart-delete__button" type="button"></button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <div class="cart-table-total">
            <div class="cart-table-total__count">
              <span class="cart-table-total__count_text">
                Всего товаров: 3
              </span>
            </div>
            <div class="cart-table-total__sum">
              <span class="cart-table-total__sum_text">
                Итого: 1 698 000 руб.
              </span>
            </div>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
