<div class="footer">
  <div class="footer__top">
    <div class="page-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="footer-link-block">
              <div class="footer-link-block__title">
                <span class="footer-link-block__title_text">
                  ИНФОРМАЦИЯ
                </span>
              </div>
              <ul class="footer-link-block__list">
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    О магазине
                  </a>
                </li>
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Как купить
                  </a>
                </li>
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Как оплатить
                  </a>
                </li>
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Информация о доставке
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-link-block">
              <div class="footer-link-block__title">
                <span class="footer-link-block__title_text">
                  ДОПОЛНИТЕЛЬНО
                </span>
              </div>
              <ul class="footer-link-block__list">
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Бренды
                  </a>
                </li>
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Акции
                  </a>
                </li>
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Партнерская программа
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-link-block">
              <div class="footer-link-block__title">
                <span class="footer-link-block__title_text">
                  СЛУЖБА ПОДДЕРЖКИ
                </span>
              </div>
              <ul class="footer-link-block__list">
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Возврат товара
                  </a>
                </li>
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Контакты
                  </a>
                </li>
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Задать вопрос
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="footer-link-block">
              <div class="footer-link-block__title">
                <span class="footer-link-block__title_text">
                  ЛИЧНЫЙ КАБИНЕТ
                </span>
              </div>
              <ul class="footer-link-block__list">
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Кабинет покупателя
                  </a>
                </li>
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    История заказов
                  </a>
                </li>
                <li class="footer-link-block__list_item">
                  <a href="#" class="footer-link-block__list_item_link">
                    Управление рассылками
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="page-center">
      <div class="footer-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <div class="footer-bottom__item">
                <div class="footer-bottom__item_content">
                  <span class="footer-bottom__text text-left text-sm-left">
                    2019 ООО "Профессиональное швейное оборудование"
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="footer-bottom__item text-center text-sm-left">
                <div class="footer-bottom__item_content">
                  <a href="#" class="footer-bottom__link">
                    Политика конфиденциальности
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="footer-bottom__item text-right text-sm-left">
                <div class="footer-bottom__item_content">
                  <span class="footer-bottom__text">
                    Разработка сайта
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
