<div class="header">
  <div class="header__top">
    <div class="page-center">
      <div class="header-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 text-md-left text-sm-center">
              <div class="header-top__item">
                <div class="header-top__item_content">
                  <div class="header-geo">
                    <span class="header-geo__label">
                      <span class="header-geo__label_text">
                        Ваш город
                      </span>
                    </span>
                    <a href="#" class="header-geo__city_link">Тверь</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-md-left text-sm-center">
              <div class="header-top__item">
                <div class="header-top__item_content">
                  <div class="header-address">
                    <div class="header-address__wrapper">
                      <div class="header-address__content">
                        <div class="header-address__line header-address__line--address">
                          <span class="header-address__line_text">
                            г. Пермь, ул. Дзержинского, 17
                          </span>
                        </div>
                        <div class="header-address__line header-address__line--time">
                          <span class="header-address__line_text">
                            с 9:00 до 18:00
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-md-right text-sm-center">
              <div class="header-top__item">
                <div class="header-top__item_content">
                  <div class="header-feedback">
                    <div class="header-feedback__wrapper">
                      <div class="header-feedback__content">
                        <a href="#" class="header-feedback__link">
                          <span class="header-feedback__link_text">
                            Заказать консультацию
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-md-right text-sm-center">
              <div class="header-top__item">
                <div class="header-top__item_content">
                  <div class="header-account">
                    <div class="header-account__wrapper">
                      <div class="header-account__content">
                        <a href="#" class="header-account__link">
                          <span class="header-account__link_text">
                            Личный кабинет
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__body">
    <div class="page-center">
      <div class="header-middle">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 text-md-left text-sm-center">
              <div class="header-middle__item">
                <div class="header-middle__item_content">
                  <div class="header-logo"></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-md-left text-sm-center">
              <div class="header-middle__item">
                <div class="header-middle__item_content">
                  <div class="header-search">
                    <button class="header-search__button"></button>
                    <input
                      type="text"
                      class="header-search__input text-sm-center"
                      placeholder="Начните вводить запрос"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-md-right text-sm-center">
              <div class="header-middle__item">
                <div class="header-middle__item_content">
                  <div class="header-phone">
                    <div class="header-phone__content">
                      <div class="header-phone__line">
                        <span class="header-phone__text">
                          <span class="header-phone__text_light">
                            +7 (342)
                          </span>
                          256-57-22
                        </span>
                      </div>
                      <div class="header-phone__line">
                        <span class="header-phone__text">
                          <span class="header-phone__text_light">
                            +7 (342)
                          </span>
                          256-57-22
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 text-md-right text-sm-center">
              <div class="header-middle__item">
                <div class="header-middle__item_content">
                  <div class="header-actions">
                    <div class="header-actions__content">
                      <div class="header-actions__item">
                        <div class="header-favorite">
                          <a href="#" class="header-favorite__link">
                            <svg
                              width="38"
                              height="38"
                              viewBox="0
                                                                    0 38 38"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle
                                cx="19"
                                cy="19"
                                r="18.5"
                                fill="#E9ECF3"
                                stroke="#272D3B"
                              />
                              <g clip-path="url(#clip0)">
                                <path
                                  d="M27.3846
                                                                                12.6324C26.3373
                                                                                11.5851
                                                                                24.9508
                                                                                11.0127
                                                                                23.4711
                                                                                11.0127C21.9913
                                                                                11.0127
                                                                                20.6006
                                                                                11.5894
                                                                                19.5533
                                                                                12.6366L19.0064
                                                                                13.1836L18.4509
                                                                                12.6282C17.4037
                                                                                11.5809
                                                                                16.0087
                                                                                11
                                                                                14.529
                                                                                11C13.0534
                                                                                11
                                                                                11.6627
                                                                                11.5766
                                                                                10.6197
                                                                                12.6197C9.57242
                                                                                13.6669
                                                                                8.99578
                                                                                15.0577
                                                                                9.00002
                                                                                16.5374C9.00002
                                                                                18.0172
                                                                                9.5809
                                                                                19.4036
                                                                                10.6282
                                                                                20.4509L18.5909
                                                                                28.4136C18.7011
                                                                                28.5238
                                                                                18.8495
                                                                                28.5832
                                                                                18.9937
                                                                                28.5832C19.1378
                                                                                28.5832
                                                                                19.2862
                                                                                28.5281
                                                                                19.3965
                                                                                28.4178L27.3761
                                                                                20.4679C28.4234
                                                                                19.4206
                                                                                29
                                                                                18.0299
                                                                                29
                                                                                16.5501C29.0043
                                                                                15.0704
                                                                                28.4319
                                                                                13.6797
                                                                                27.3846
                                                                                12.6324ZM26.5705
                                                                                19.658L18.9937
                                                                                27.2052L11.4338
                                                                                19.6453C10.6027
                                                                                18.8143
                                                                                10.1448
                                                                                17.7119
                                                                                10.1448
                                                                                16.5374C10.1448
                                                                                15.3629
                                                                                10.5985
                                                                                14.2605
                                                                                11.4295
                                                                                13.4337C12.2563
                                                                                12.607
                                                                                13.3587
                                                                                12.149
                                                                                14.529
                                                                                12.149C15.7034
                                                                                12.149
                                                                                16.8101
                                                                                12.607
                                                                                17.6411
                                                                                13.438L18.5993
                                                                                14.3962C18.8241
                                                                                14.6209
                                                                                19.1845
                                                                                14.6209
                                                                                19.4092
                                                                                14.3962L20.3589
                                                                                13.4465C21.19
                                                                                12.6154
                                                                                22.2966
                                                                                12.1575
                                                                                23.4668
                                                                                12.1575C24.6371
                                                                                12.1575
                                                                                25.7395
                                                                                12.6154
                                                                                26.5705
                                                                                13.4422C27.4015
                                                                                14.2733
                                                                                27.8552
                                                                                15.3757
                                                                                27.8552
                                                                                16.5501C27.8595
                                                                                17.7246
                                                                                27.4015
                                                                                18.827
                                                                                26.5705
                                                                                19.658Z"
                                  fill="#1C202C"
                                />
                              </g>
                              <defs>
                                <clipPath id="clip0">
                                  <rect
                                    x="9"
                                    y="9"
                                    width="20"
                                    height="20"
                                    fill="white"
                                  />
                                </clipPath>
                              </defs>
                            </svg>
                          </a>
                          <span class="header-favorite__count"></span>
                        </div>
                      </div>
                      <div class="header-actions__item">
                        <div class="header-compare">
                          <a href="#" class="header-compare__link">
                            <svg
                              width="38"
                              height="38"
                              viewBox="0 0 38 38"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle
                                cx="19"
                                cy="19"
                                r="18.5"
                                fill="#E9ECF3"
                                stroke="#1C202C"
                              />
                              <path
                                d="M28.966
                                                                                        19.1658L28.949
                                                                                        19.1743L26.0797
                                                                                        12.0329H27.3889C27.6237
                                                                                        12.0329
                                                                                        27.814
                                                                                        11.8426
                                                                                        27.814
                                                                                        11.6078C27.814
                                                                                        11.3731
                                                                                        27.6237
                                                                                        11.1828
                                                                                        27.3889
                                                                                        11.1828H19.3889V9.95428C19.3889
                                                                                        9.71953
                                                                                        19.1986
                                                                                        9.52921
                                                                                        18.9639
                                                                                        9.52921C18.7291
                                                                                        9.52921
                                                                                        18.5388
                                                                                        9.71953
                                                                                        18.5388
                                                                                        9.95428V11.1785H10.543C10.3083
                                                                                        11.1785
                                                                                        10.118
                                                                                        11.3688
                                                                                        10.118
                                                                                        11.6036C10.118
                                                                                        11.8383
                                                                                        10.3083
                                                                                        12.0287
                                                                                        10.543
                                                                                        12.0287H11.9075L9.03401
                                                                                        19.1658C9.01275
                                                                                        19.2156
                                                                                        9.00122
                                                                                        19.269
                                                                                        9
                                                                                        19.323C9
                                                                                        21.2751
                                                                                        10.5825
                                                                                        22.8576
                                                                                        12.5345
                                                                                        22.8576C14.4866
                                                                                        22.8576
                                                                                        16.0691
                                                                                        21.2751
                                                                                        16.0691
                                                                                        19.323C16.0679
                                                                                        19.269
                                                                                        16.0563
                                                                                        19.2156
                                                                                        16.0351
                                                                                        19.1658L13.1658
                                                                                        12.0244H18.5388V25.1679C16.5112
                                                                                        25.3209
                                                                                        14.9256
                                                                                        26.5536
                                                                                        14.9256
                                                                                        28.0457C14.9256
                                                                                        28.2804
                                                                                        15.1159
                                                                                        28.4708
                                                                                        15.3507
                                                                                        28.4708H22.577C22.8118
                                                                                        28.4708
                                                                                        23.0021
                                                                                        28.2804
                                                                                        23.0021
                                                                                        28.0457C23.0021
                                                                                        26.5536
                                                                                        21.4166
                                                                                        25.3209
                                                                                        19.3889
                                                                                        25.1679V12.0244H24.8172L21.9649
                                                                                        19.1658C21.9437
                                                                                        19.2156
                                                                                        21.9321
                                                                                        19.269
                                                                                        21.9309
                                                                                        19.323C21.9309
                                                                                        21.2751
                                                                                        23.5134
                                                                                        22.8576
                                                                                        25.4655
                                                                                        22.8576C27.4175
                                                                                        22.8576
                                                                                        29
                                                                                        21.2751
                                                                                        29
                                                                                        19.323C28.9988
                                                                                        19.269
                                                                                        28.9872
                                                                                        19.2156
                                                                                        28.966
                                                                                        19.1658ZM12.5324
                                                                                        22.0138C11.2158
                                                                                        22.012
                                                                                        10.0946
                                                                                        21.0563
                                                                                        9.88417
                                                                                        19.7566H15.1637C14.9543
                                                                                        21.05
                                                                                        13.8426
                                                                                        22.0037
                                                                                        12.5324
                                                                                        22.0138ZM15.0106
                                                                                        18.9065H10.0627L12.5409
                                                                                        12.7386L15.0106
                                                                                        18.9065ZM22.0755
                                                                                        27.6206H15.848C16.1626
                                                                                        26.7067
                                                                                        17.4591
                                                                                        26.001
                                                                                        18.9596
                                                                                        26.001C20.4601
                                                                                        26.001
                                                                                        21.7609
                                                                                        26.7067
                                                                                        22.0755
                                                                                        27.6206ZM25.4463
                                                                                        12.7428L27.916
                                                                                        18.9065H22.9681L25.4463
                                                                                        12.7428ZM25.4463
                                                                                        22.0138V22.018C24.1348
                                                                                        22.0076
                                                                                        23.0226
                                                                                        21.0517
                                                                                        22.8151
                                                                                        19.7566H28.0946C27.8842
                                                                                        21.0563
                                                                                        26.7629
                                                                                        22.012
                                                                                        25.4463
                                                                                        22.0138Z"
                                fill="#1C202C"
                              />
                            </svg>
                          </a>
                          <span class="header-compare__count"></span>
                        </div>
                      </div>
                      <div class="header-actions__item">
                        <div class="header-cart">
                          <a href="#" class="header-cart__link">
                            <svg
                              width="29"
                              height="35"
                              viewBox="0 0 29 35"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M28.5001
                                                                                            30.2546L26.496
                                                                                            7.68712C26.453
                                                                                            7.18609
                                                                                            26.0308
                                                                                            6.80675
                                                                                            25.5369
                                                                                            6.80675H21.4142C21.3569
                                                                                            3.04192
                                                                                            18.2792
                                                                                            0
                                                                                            14.5001
                                                                                            0C10.7209
                                                                                            0
                                                                                            7.64323
                                                                                            3.04192
                                                                                            7.58597
                                                                                            6.80675H3.46327C2.96225
                                                                                            6.80675
                                                                                            2.54711
                                                                                            7.18609
                                                                                            2.50417
                                                                                            7.68712L0.500078
                                                                                            30.2546C0.500078
                                                                                            30.2832
                                                                                            0.49292
                                                                                            30.3119
                                                                                            0.49292
                                                                                            30.3405C0.49292
                                                                                            32.91
                                                                                            2.84772
                                                                                            35
                                                                                            5.7465
                                                                                            35H23.2537C26.1524
                                                                                            35
                                                                                            28.5072
                                                                                            32.91
                                                                                            28.5072
                                                                                            30.3405C28.5072
                                                                                            30.3119
                                                                                            28.5072
                                                                                            30.2832
                                                                                            28.5001
                                                                                            30.2546ZM14.5001
                                                                                            1.93251C17.2128
                                                                                            1.93251
                                                                                            19.4244
                                                                                            4.10838
                                                                                            19.4817
                                                                                            6.80675H9.51848C9.57574
                                                                                            4.10838
                                                                                            11.7874
                                                                                            1.93251
                                                                                            14.5001
                                                                                            1.93251ZM23.2537
                                                                                            33.0675H5.7465C3.9285
                                                                                            33.0675
                                                                                            2.45407
                                                                                            31.865
                                                                                            2.42544
                                                                                            30.3834L4.34364
                                                                                            8.74642H7.57881V11.681C7.57881
                                                                                            12.2178
                                                                                            8.00826
                                                                                            12.6472
                                                                                            8.54507
                                                                                            12.6472C9.08188
                                                                                            12.6472
                                                                                            9.51132
                                                                                            12.2178
                                                                                            9.51132
                                                                                            11.681V8.74642H19.4817V11.681C19.4817
                                                                                            12.2178
                                                                                            19.9111
                                                                                            12.6472
                                                                                            20.4479
                                                                                            12.6472C20.9847
                                                                                            12.6472
                                                                                            21.4142
                                                                                            12.2178
                                                                                            21.4142
                                                                                            11.681V8.74642H24.6494L26.5747
                                                                                            30.3834C26.5461
                                                                                            31.865
                                                                                            25.0645
                                                                                            33.0675
                                                                                            23.2537
                                                                                            33.0675Z"
                                fill="#272D3B"
                                fill-opacity="0.6"
                              />
                            </svg>
                          </a>
                          <span class="header-cart__count"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="page-center">
      <div class="nav">
        <div class="nav__item">
          <div class="nav__item_content_wrapper">
            <div class="nav__item_content nav__item_content--active">
              <a href="#" class="nav__link nav__link--catalog">
                <span class="nav__link_text">Каталог</span>
              </a>
            </div>
          </div>
        </div>
        <div class="nav__item">
          <div class="nav__item_content_wrapper">
            <div class="nav__item_content">
              <a href="#" class="nav__link">
                <span class="nav__link_text">
                  О магазине
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="nav__item">
          <div class="nav__item_content_wrapper">
            <div class="nav__item_content">
              <a href="#" class="nav__link">
                <span class="nav__link_text">Оплата</span>
              </a>
            </div>
          </div>
        </div>
        <div class="nav__item">
          <div class="nav__item_content_wrapper">
            <div class="nav__item_content">
              <a href="#" class="nav__link">
                <span class="nav__link_text">Доставка</span>
              </a>
            </div>
          </div>
        </div>
        <div class="nav__item">
          <div class="nav__item_content_wrapper">
            <div class="nav__item_content">
              <a href="#" class="nav__link">
                <span class="nav__link_text">Акции</span>
              </a>
            </div>
          </div>
        </div>
        <div class="nav__item">
          <div class="nav__item_content_wrapper">
            <div class="nav__item_content">
              <a href="#" class="nav__link">
                <span class="nav__link_text">Контакты</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
