<div class="mp-promo">
    <div class="mp-promo__content">
      <ul class="mp-tab-nav">
        <li class="mp-tab-nav__item">
          <a href="#" class="mp-tab-nav__title active">рекомендуем</a>
        </li>
        <li class="mp-tab-nav__item">
          <a href="#" class="mp-tab-nav__title">новинки</a>
        </li>
        <li class="mp-tab-nav__item">
          <a href="#" class="mp-tab-nav__title">
            хиты продаж
          </a>
        </li>
        <li class="mp-tab-nav__item">
          <a href="#" class="mp-tab-nav__title">скидки</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <partial src="_product-card.html"></partial>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <partial src="_product-card.html"></partial>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <partial src="_product-card.html"></partial>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <partial src="_product-card.html"></partial>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <partial src="_product-card.html"></partial>
            </div>
          </div>
        </div>

        <div class="tab-content__more">
          <div class="tab-content__more_link">
            <a href="#" class="btn btn--white">
              смотреть все
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>