<div class="mp-news-item">
  <div class="mp-news-item__item mp-news-item__item--date">
    <div class="mp-news-item__date">
      <span class="mp-news-item__date_text">
        08.12.2019
      </span>
    </div>
  </div>
  <div class="mp-news-item__item">
    <div class="mp-news-item__title">
      <span class="mp-news-item__title_text">
        Обменяйте Вашу старую бытовую швейную машину на новую!
      </span>
    </div>
    <div class="mp-news-item__summary">
      До 10 Сентября 2015года действует АКЦИЯ: "Обменяйте Вашу старую бытовую
      швейную машину на новую!" Условия акции узнайте у продавцов.
    </div>
    <div class="mp-news-item__more">
      <a href="#" class="mp-news-item__more_link">
        Подробнее
      </a>
    </div>
  </div>
</div>
