<div class="product-card element-centered">
  <div class="product-card__image">
    <a href="#" class="product-card__image_link">
      <img
        class="product-card__image_img"
        src="https://pbs.twimg.com/media/DtOs_4UWwAAy0dq.jpg:large"
      />
    </a>
  </div>
  <div class="product-card__content">
    <div class="product-card__articul">
      <span class="product-card__articul_text">
        Артикул: Jack JK-F4-7
      </span>
    </div>
    <div class="product-card__name">
      <a href="#" class="product-card__name_link">
        Промышленная швейная машина Jack JK-F4-7
      </a>
    </div>
    <div class="product-card__price">
      <div class="product-card__price_item">
        <span class="product-card__price_value product-card__price_value--new">
          21 605руб.
        </span>
      </div>
      <div class="product-card__price_item">
        <span class="product-card__price_value product-card__price_value--old">
          21 605руб.
        </span>
      </div>
    </div>
    <div class="product-card__cart">
      <div class="product-card__cart_count">
        <div class="app-spinner">
          <button
            class="app-spinner__button app-spinner__button--minus"
          ></button>
          <input class="app-spinner__input" value="10" />
          <button
            class="app-spinner__button app-spinner__button--plus"
          ></button>
        </div>
      </div>
      <div class="product-card__cart_add">
        <a href="#" class="btn btn--red">
          <span>Купить</span>
        </a>
      </div>
    </div>
    <div class="product-card__one_click">
      <a href="#" class="one-click">
        <span class="one-click__icon"> </span>
        <span class="one-click__text">
          Купить в 1 клик
        </span>
      </a>
    </div>
  </div>
</div>
