.cart-table {
    &__table {
        width          : 100%;
        box-sizing     : border-box;
        table-layout   : fixed;
        border-collapse: collapse;

        th {
            border-bottom: 1px solid #323232;
            padding      : 10px;
            text-align   : left;
            font-family  : inherit;
            font-style   : normal;
            font-weight  : 700;
            font-size    : 1rem;
            color        : #323232;

            &:last-child {
                width: 40px;
            }
        }

        tbody td {
            padding       : 30px 10px 20px;
            vertical-align: top;
            border-bottom : 1px solid #DDF1FF;

            &:first-child {
                width: 400px;
            }
        }

        tfoot td {
            text-align: right;
        }
    }
}