@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.cart-table {
    padding-bottom: 20px;

    @include media-breakpoint-down(md) {
        overflow-x: auto;
    }

    &__table {
        width          : 100%;
        box-sizing     : border-box;
        table-layout   : fixed;
        border-collapse: collapse;
        min-width      : 780px;

        th {
            border-bottom: 1px solid #323232;
            padding      : 10px;
            text-align   : left;
            font-family  : inherit;
            font-style   : normal;
            font-weight  : 700;
            font-size    : 1rem;
            color        : #323232;

            &:last-child {
                width: 50px;
            }

            &:first-child {
                width: 400px;

                @include media-breakpoint-down(md) {
                    width: 300px;
                }
            }
        }

        tbody td {
            padding       : 30px 10px 20px;
            vertical-align: top;
            font-family   : inherit;
            font-style    : normal;
            font-weight   : 700;
            font-size     : 1rem;
            color         : #323232;
            border-bottom : 1px solid #DDF1FF;

            &:last-child {
                padding-right: 10px;
            }
        }

        tfoot td {
            text-align: right;
            padding   : 20px 0px 15px;

            @include media-breakpoint-down(md) {
                text-align: left;
            }
        }
    }
}