.tab-content {
    &__products {}

    margin-bottom: 30px;

    &__more {
        padding   : 10px 0 30px;
        text-align: center;
    }

    &__more_link {
        display: inline-block;
        width  : 165px;
    }
}