@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.footer {
    display   : table-row;
    background: #323232;

    &__top {
        padding: 50px 0 30px;
        @include media-breakpoint-down(sm) {
            padding: 30px 0 0;
        }
    }

    &__bottom {
        background: #DA112B;
        display   : table;
        width     : 100%;
    }
}