@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.header-middle {
    min-height: 80px;
    display   : table;
    width     : 100%;

    &__item {
        display: table;
        height : 80px;
        width  : 100%;

        @include media-breakpoint-down(sm) {
            height: 60px;
        }
    }

    &__item_content {
        display       : table-cell;
        vertical-align: middle;
        box-sizing    : border-box;
    }
}