.header-address {
    height             : 36px;
    display            : table;
    position           : relative;
    box-sizing         : border-box;
    background-position: left center;
    background-repeat  : no-repeat;
    padding-left       : 30px;
    text-align         : left;
    background-size    : 22px 22px;
    background-image   : url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.72922C13.2521 4.72922 15.0844 6.56145 15.0844 8.81352C15.0844 11.0656 13.2521 12.8978 11 12.8978C8.74797 12.8978 6.91574 11.0656 6.91574 8.81352C6.91574 6.56145 8.74793 4.72922 11 4.72922ZM11 11.1781C12.3039 11.1781 13.3647 10.1174 13.3647 8.81352C13.3647 7.50968 12.3039 6.44891 11 6.44891C9.6962 6.44891 8.63543 7.50968 8.63543 8.81352C8.63543 10.1174 9.6962 11.1781 11 11.1781Z' fill='%23DA112B'/%3E%3Cpath d='M10.9999 0C15.8598 0 19.8135 3.95377 19.8135 8.81354V9.05717C19.8135 11.515 18.4044 14.3791 15.6251 17.5698C13.6104 19.8829 11.6238 21.4958 11.5403 21.5634L10.9999 22L10.4596 21.5634C10.376 21.4958 8.38942 19.883 6.37474 17.5699C3.59557 14.3791 2.18641 11.515 2.18641 9.05721V8.81358C2.18641 3.95377 6.14013 0 10.9999 0ZM3.9061 9.05721C3.9061 13.2108 9.2579 18.2388 10.9999 19.7651C12.7425 18.2383 18.0938 13.2105 18.0938 9.05721V8.81358C18.0938 4.90205 14.9115 1.71974 10.9999 1.71974C7.08841 1.71974 3.9061 4.90205 3.9061 8.81358V9.05721Z' fill='%23DA112B'/%3E%3C/svg%3E%0A");

    &__content {
        display       : table-cell;
        vertical-align: middle;
    }

    &__line {
        white-space: nowrap;
        color      : #F2F3F8;

        &--time {
            color: #DA112B;
        }
    }

    &__line_text {
        text-decoration: none;
        outline        : 0 none;
        font-size      : .75rem;
        font-family    : inherit;
        color          : inherit;
    }

}