.cart-delete {
    position: relative;
    overflow: hidden;
    display : inline-block;
    width   : 30px;
    height  : 30px;

    &__button {
        display            : block;
        cursor             : pointer;
        background-image   : url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.72875 0 0 6.72875 0 15C0 23.2712 6.72875 30 15 30C23.2712 30 30 23.2712 30 15C30 6.72875 23.2712 0 15 0ZM15 27.5C8.1075 27.5 2.5 21.8925 2.5 15C2.5 8.1075 8.1075 2.5 15 2.5C21.8925 2.5 27.5 8.1075 27.5 15C27.5 21.8925 21.8925 27.5 15 27.5Z' fill='%23DA112B'/%3E%3Cpath d='M19.6336 10.3662C19.1461 9.87812 18.3536 9.87812 17.8661 10.3662L14.9998 13.2325L12.1336 10.3662C11.6461 9.87812 10.8536 9.87812 10.3661 10.3662C9.87797 10.8544 9.87797 11.6456 10.3661 12.1337L13.2323 15L10.3661 17.8662C9.87797 18.3544 9.87797 19.1456 10.3661 19.6337C10.6098 19.8781 10.9298 20 11.2498 20C11.5698 20 11.8898 19.8781 12.1336 19.6337L14.9998 16.7675L17.8661 19.6337C18.1098 19.8781 18.4298 20 18.7498 20C19.0698 20 19.3898 19.8781 19.6336 19.6337C20.1217 19.1456 20.1217 18.3544 19.6336 17.8662L16.7673 15L19.6336 12.1337C20.1217 11.6456 20.1217 10.8544 19.6336 10.3662Z' fill='%23DA112B'/%3E%3C/svg%3E%0A");
        width              : 30px;
        height             : 30px;
        background-repeat  : no-repeat;
        background-position: center;
        background-color   : #fff;
        border             : 0 none;
    }
}